a{
	font-size:20px;
	/* 超链接字体颜色 */
	color:rgb(68, 70, 170);
	font-style:italic;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	/* 去掉下划线 */
	text-decoration: none;
	/* 字体加粗 */
	font-weight: bold;
}
li{
	font-weight: 100;
	color: burlywood;
	margin-top:15px;
	margin-bottom:15px;
	/* padding:0; */

	/* width:0; */
}

/* 取消列表前的小圆点 */
li::marker{
	content:'';
}

/* 每个li前加一个元素 */
li::before{
	/* content: '✝'; */
	color:#666;
	/* 与字符间隔 */
	padding-right:10px;
	/* 与边框间隔 */
	margin-left:0px;
}
span{
	/* background-color:chocolate; */
	font-family: 'Courier New', Courier, monospace;
}

/* 字母索引 */
#A,#B,#C,#D,#E,#F,#G,#H,#I,#J,#K,#L,#M,#N,#O,#P,#Q,#R,#S,#T,#U,#V,#W,#X,#Y,#Z,#N3,#N4,#N5,#N7{
	color: red;
	font-size:30px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* class类 */
/* 跳到最下面 */
.gobottom{
	color:white;
	background-color: black;
	font-size:40px;
	/* 位置固定不动 */
	position:fixed;

	/* 居中 */
	/* width:300px; */
	left:0;
	right:0;
	margin-left:auto;
	margin-right: auto;
}
/* class类 */
/* 跳到最上面 */
.gotop{
	color:black;
	background-color:white;
	font-size:auto;
}
/* az标题栏 */
.az{
	/* height: 20px; */
	background-color:tomato;

	border: 0px;
	/* padding-bottom: 30px; */

	/* 位置固定不动 */
	position:fixed;
	/* position:relative; */
	/* 粘滞定位 */
	/* position:sticky; */

	/* 向右移动 */
	/* margin-left:500px; */

	/* 居中,必须指定width,否则无效 */
	/* margin: 50px auto; */
	/* width: 700px; */
	width: auto;
	left:0;
	right:0;
	margin-left:auto;
	margin-right: auto;

	font-size:100%;

	/* 靠在最上面 */
	top:0;
}

/* 伪元素 */
/* 鼠标放在超链接上效果 */
a:hover{
	/* font-size: 30px; */
	color:cornflowerblue;
}
/* a:link{
	color:red;
} */


p::first-letter{
	font-size: 50px;
}

p::first-line{
	background-color: yellow;
}

p::selection{
	background-color: greenyellow;
}

/* 解决高度塌陷和外边距重叠 */

.clearfix::before,
.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

.main{
	/* 和标题栏的间隔 */
	margin-top:40px;
	margin-bottom:40px;
}