a{
	font-size:medium;
	color:rgb(68, 70, 170);
	font-style:italic;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
	font-weight: 100;
	color: burlywood;
}
span{
	/* background-color:chocolate; */
	font-family: 'Courier New', Courier, monospace;
}

#A,#B,#C,#D,#E,#F,#G,#H,#I,#J,#K,#L,#M,#N,#O,#P,#Q,#R,#S,#T,#U,#V,#W,#X,#Y,#Z{
	color: red;
}
/* class类 */
.go{
	color:white;
	background-color: black;
	font-size:50px;
}
.az{
	/* width: 800px; */
	height: 20px;
	background-color:tomato;

	border: 10px;
	padding-bottom: 30px;
	margin-top:50px;
}

/* 伪元素 */
a:hover{
	font-size: 50px;
}
/* a:link{
	color:red;
} */


p::first-letter{
	font-size: 50px;
}

p::first-line{
	background-color: yellow;
}

p::selection{
	background-color: greenyellow;
}

