a{
	font-size:medium;
	color:rgb(68, 70, 170);
	font-style:italic;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
	font-weight: 100;
	color: burlywood;
}
#D,#E{
	color: red;
}
.go{
	color:chartreuse;
}
a:hover{
	font-size: 50px;
}
/* a:link{
	color:red;
} */